// Importing the color module
@use 'sass:color';
// border-color: color.scale($Pink, $lightness: 30%);

@font-face {
    font-family: "Figtree";
    src: url("../fonts/Figtree/Figtree-VariableFont_wght.ttf") format("truetype");
}

// Colors
$Turquoise: #b2ffd1;
$Pink: #fd61dc;
$Yellow: #faff8b;
$Red: #ff758c;
$Purple: #c4d3fe;
$Orange: #fed0af;
$Black: #111;

* {
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100%;
}

#App {
    background-color: #ffffff;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0 2; // This is the margin for the whole page, to the left and right
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

li {
    list-style-type: none;
}

img {
    border: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

//HomePage
.homePage {
    //position: relative;
    padding: 20px;

    .hero-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0 40px;

        .hero-text-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .hero-title {
                font-size: 3rem;
                color: $Pink;
                margin-bottom: 20px;

                .dot {
                    color: $Purple;
                }
            }

            .hero-text {
                font-size: 1rem;
                color: $Red;
                margin-bottom: 20px;
            }
        }
    }

    // This makes the figure a circle, and following when scrolling
    .logo-pic {
        position: absolute;
        top: 40px;
        left: 30px;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;

        img {
            width: 100%;
            height: auto;
        }
    }

    .menu {
        position: absolute;
        top: 30px;
        right: 30px;

        ul {
            padding: 0;
            margin: 0;

            li {
                position: relative;
                list-style: none;
                width: 20px;
                height: 20px;
                margin: 8px 0;

                @keyframes slideIn {
                    from {
                        left: -100px;
                        opacity: 0;
                    }

                    to {
                        left: -80px;
                        opacity: 1;
                    }
                }

                a {
                    display: block;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }

                .text {
                    position: absolute;
                    left: -100px;
                    opacity: 0;
                    transition: all 0.3s ease;
                }

                &:hover .text {
                    animation: slideIn 0.3s forwards;
                }
            }

            .pink {
                background-color: $Pink;
            }

            .yellow {
                background-color: $Yellow;
            }

            .purple {
                background-color: $Purple;
            }

            .red {
                background-color: $Red;
            }
        }
    }

    // This is the main content of the page and it is centered
    .section-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    // AboutSection
    .about-section {
        background-color: $Pink;
        display: flex;
        justify-content: center;
        align-items: center;

        .about-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-grow: 1;

            .about-text-wrapper {
                flex: 1;
                max-width: 100%;

                .about-title {
                    color: $Yellow;
                }

                p {
                    font-size: 1rem;
                    margin-bottom: 20px;
                    color: $Black;
                }
            }

            .imageslist {
                width: 100%;
            }

            .about-figure-wrapper {
                width: 40%;
                padding: 32px;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .boxes-wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 80%;
                padding: 20px;
                box-sizing: border-box;
            }

            .images-wrapper {
                display: flex;
                flex-direction: row;
                width: 100%;
                flex: 2;
                gap: 20px;

                img {
                    max-width: 100%;
                    height: auto;
                    border-radius: 20px;
                }
            }
        }

        .box,
        .sbox {
            will-change: transform;
        }

        .spacer {
            height: 10vh;
        }
    }

    // ContactSection
    .contact-section {
        background-color: $Yellow;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .contact-title {
            color: $Purple;
        }

        .logos-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;
            width: 100%;

            .github-logo,
            .linkedin-logo {
                width: 40px;
                height: 40px;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .contact-form {
            opacity: 1;
            transition: opacity 0.3s;
            display: flex;
            flex-flow: column wrap;
            margin: 3rem 0;
            max-width: 100%;


            .input-wrapper {
                width: 100%;
                display: flex;
                -webkit-box-pack: justify;
                justify-content: space-between;
            }

            .inputs {
                padding: 0.2rem;
                border: 0.1rem solid #fd61dc;
                margin-bottom: 2rem;
                width: 100%;
                max-width: 100%;
                box-sizing: border-box;

                .input-field {
                    background: white;
                    font-size: 0.8em;
                    border: none;
                    outline: none;
                    padding: 1em;

                    width: 100%;
                    max-width: 100%;
                    box-sizing: border-box;
                    border-radius: 0px;
                }

                .message {
                    width: 100%;
                    line-height: 1.6;
                    resize: vertical;
                    min-height: 150px;
                    overflow: auto;
                }
            }

            .submit-button {
                background-color: $Red;
                color: white;
                border: none;
                padding: 1rem;
                font-size: 1rem;
                width: 100%;
                max-width: 100%;
                box-sizing: border-box;
                border-radius: 0px;

                // this is why its to the right
                margin-right: 50%;

                &:hover {
                    background-color: $Pink;
                }
            }

            .input-size {
                width: 49%;
            }
        }
    }

    // SkillsSection
    .skills-wrapper {
        background-color: $Purple;

        .skills-title {
            color: $Red;
            margin-bottom: 2rem;
        }
    }

    // ProjectSection
    .project-wrapper {
        background-color: $Red;

        .projects-title {
            color: #ffffff;
            margin-bottom: 2rem;
        }
    }

    // CarouselSection
    .carousel-section {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;

        .carousel {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .carousel-wrapper {
            position: relative;
            overflow: hidden;
            width: 100%;

            .buttons-wrapper {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                display: flex;
                justify-content: space-between;
                transform: translateY(-50%);
                z-index: 10;

                .carousel-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 50%;
                    color: $Black;
                    border: 1px solid $Red;
                    transition: all .2s cubic-bezier(0.39, 0.575, 0.565, 1);
                    pointer-events: all;
                }

                .carousel-button:hover {
                    border: 1px solid #dedede;
                }

                .carousel-button:focus {
                    outline: none;
                    border: 1px solid #dedede;
                }

                .carousel-prev {
                    animation-duration: .6s;
                    animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
                    animation-name: prev;
                }

                .carousel-next {
                    animation-duration: .6s;
                    animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
                    animation-name: next;
                }

                @keyframes next {
                    from {
                        transform: translateX(0px);
                    }

                    to {
                        transform: translateX(calc(0px + var(--cardWidth)));
                    }
                }

                @keyframes prev {
                    from {
                        transform: translateX(0px);
                    }

                    to {
                        transform: translateX(calc(0px - var(--cardWidth)));
                    }
                }
            }
        }

        .carousel {
            display: flex;
            transition: transform 0.5s ease-in-out;
            list-style: none;
            padding: 0;
            margin: 0;

            .carousel-card {
                flex: 1 0 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;

                .carousel-icon {
                    max-width: 30%;
                    height: auto;
                    margin: 0 auto;
                }

                .carousel-card-text {
                    color: $Black;
                    font-size: medium;
                    cursor: pointer;
                    padding: 4rem;
                }

                .carousel-card-outline {
                    font-size: 12px;
                    letter-spacing: 0px;
                    text-decoration: none;
                }
            }
        }

        // dessa används ej nu!
        .carousel-bg-img {
            background-size: cover;
            background-position: center;
            text-align: center;
            position: relative;
            height: 80px;
            margin: auto;
        }

        .carousel-logo-img {
            position: absolute;
            top: 65%;
            left: 50px;
        }

        .carousel-p {
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 1.4rem;
            margin-bottom: 0;
        }

        .carousel-card-button {
            color: #ec642b;
            border: none;
            background-color: #fff;
            font-size: 14px;
            text-decoration: none;
        }

        //////////////////////////////////////////
    }
}

@media (min-width: 768px) {
    .homePage {

        .project-section {
            .boxes-wrapper {
                grid-template-columns: repeat(2, 1fr);

                .project-box {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: flex-start;

                    .project-figure {
                        width: 100%;

                        img {
                            width: 100%;
                            height: auto;
                            object-fit: contain;

                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .homePage {
        .about-section {

            .about-wrapper {
                flex-direction: row;
                gap: 4rem;

                .about-text-wrapper {
                    max-width: 40%;
                }

                .imageslist {
                    width: 40%;
                }
            }
        }


        .project-section {
            .boxes-wrapper {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 20px;
                width: 80%;
                padding: 20px;
                box-sizing: border-box;


                .project-box {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: flex-start;

                    .project-figure {
                        width: 100%;

                        img {
                            width: 100%;
                            height: auto;
                            object-fit: contain;

                        }
                    }
                }
            }
        }
    }
}