// Importing the color module
@use 'sass:color';
// border-color: color.scale($Pink, $lightness: 30%);

@font-face {
    font-family: "Figtree";
    src: url("../fonts/Figtree/Figtree-VariableFont_wght.ttf") format("truetype");
}

@keyframes slideIn {
    from {
        left: -100px;
        opacity: 0;
    }

    to {
        left: -80px;
        opacity: 1;
    }
}

// Colors
$Turquoise: #b2ffd1;
$Pink: #fd61dc;
$Yellow: #faff8b;
$Red: #ff758c;
$Purple: #c4d3fe;
$Orange: #fed0af;

* {
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100%;
}

#App {
    background-color: #ffffff;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0 2; // This is the margin for the whole page, to the left and right
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

li {
    list-style-type: none;
}

img {
    border: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

//HomePage
.homePage {
    //position: relative;
    padding: 20px;

    .hero-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0 40px;

        .hero-text-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .hero-title {
                font-size: 3rem;
                color: $Pink;
                margin-bottom: 20px;

                .dot {
                    color: $Purple;
                }
            }

            .hero-text {
                font-size: 1rem;
                color: $Red;
                margin-bottom: 20px;
            }
        }
    }

    // This makes the figure a circle, and following when scrolling
    .logo-pic {
        position: absolute;
        top: 40px;
        left: 30px;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;

        img {
            width: 100%;
            height: auto;
        }
    }

    .menu {
        position: absolute;
        top: 30px;
        right: 30px;

        ul {
            padding: 0;
            margin: 0;

            li {
                position: relative;
                list-style: none;
                width: 20px;
                height: 20px;
                margin: 8px 0;

                a {
                    display: block;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }

                .text {
                    position: absolute;
                    left: -100px;
                    opacity: 0;
                    transition: all 0.3s ease;
                }

                &:hover .text {
                    animation: slideIn 0.3s forwards;
                }
            }

            .pink {
                background-color: $Pink;
            }

            .yellow {
                background-color: $Yellow;
            }

            .purple {
                background-color: $Purple;
            }

            .red {
                background-color: $Red;
            }
        }
    }

    // This is the main content of the page and it is centered
    .section-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    // AboutSection
    .about-section {
        background-color: $Pink;
        display: flex;
        justify-content: center;
        align-items: center;

        .about-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-grow: 1;

            .about-text-wrapper {
                flex: 1;
                max-width: 100%;

                .about-title {
                    color: $Yellow;
                }

                p {
                    font-size: 1rem;
                    margin-bottom: 20px;
                }
            }

            .imageslist {
                width: 100%;
            }

            .about-figure-wrapper {
                width: 40%;
                padding: 32px;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .boxes-wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 80%;
                padding: 20px;
                box-sizing: border-box;
            }

            .images-wrapper {
                display: flex;
                flex-direction: row;
                width: 100%;
                flex: 2;
                gap: 20px;

                img {
                    max-width: 100%;
                    height: auto;
                    border-radius: 20px;
                }
            }
        }

        .box,
        .sbox {
            will-change: transform;
        }

        .spacer {
            height: 10vh;
        }
    }

    // ContactSection
    .contact-section {
        background-color: $Yellow;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .contact-title {
            color: $Purple;
        }

        .logos-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;
            width: 100%;

            .github-logo,
            .linkedin-logo {
                width: 40px;
                height: 40px;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .contact-form {
            opacity: 1;
            transition: opacity 0.3s;
            display: flex;
            flex-flow: column wrap;
            margin: 3rem 0;
            max-width: 100%;


            .input-wrapper {
                width: 100%;
                display: flex;
                -webkit-box-pack: justify;
                justify-content: space-between;
            }

            .inputs {
                padding: 0.2rem;
                border: 0.1rem solid #fd61dc;
                margin-bottom: 2rem;
                width: 100%;
                max-width: 100%;
                box-sizing: border-box;

                .input-field {
                    background: white;
                    font-size: 0.8em;
                    border: none;
                    outline: none;
                    padding: 1em;

                    width: 100%;
                    max-width: 100%;
                    box-sizing: border-box;
                    border-radius: 0px;
                }

                .message {
                    width: 100%;
                    line-height: 1.6;
                    resize: vertical;
                    min-height: 150px;
                    overflow: auto;
                }
            }

            .submit-button {
                background-color: $Red;
                color: white;
                border: none;
                padding: 1rem;
                cursor: pointer;
                font-size: 1rem;
                width: 100%;
                max-width: 100%;
                box-sizing: border-box;
                border-radius: 0px;

                // this is why its to the right
                margin-right: 50%;

                &:hover {
                    background-color: $Pink;
                }
            }

            .input-size {
                width: 49%;
            }
        }
    }

    // SkillsSection
    .skills-wrapper {
        background-color: $Purple;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: auto;
        scroll-snap-type: x mandatory;

        .skill-box {
            flex-shrink: 0;
            width: 80vw;
            height: 80vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            scroll-snap-align: center;

        }

        .skills-title {
            color: $Red;
            writing-mode: vertical-rl;
            text-align: left;
            flex-shrink: 0;
            height: 100%;
        }

        img {
            min-width: 100%;
            height: 100%;
            object-fit: contain;
            scroll-snap-align: center;
            transition: transform 0.5s ease;
        }
    }

    // ProjectSection
    .project-section {
        background-color: $Red;
        display: flex;
        flex-direction: column;

        .projects-title {
            color: #ffffff;
        }

        .boxes-wrapper {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
            width: 80%;
            padding: 20px;
            box-sizing: border-box;


            .project-box {
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: flex-start;

                .project-titles {
                    color: #ffffff;
                    font-size: 1rem;
                }

                .project-figure {
                    width: 100%;

                    img {
                        width: 100%;
                        height: auto;
                        object-fit: contain;

                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .homePage {

        .project-section {
            .boxes-wrapper {
                grid-template-columns: repeat(2, 1fr);

                .project-box {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: flex-start;

                    .project-figure {
                        width: 100%;

                        img {
                            width: 100%;
                            height: auto;
                            object-fit: contain;

                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .homePage {
        .about-section {

            .about-wrapper {
                flex-direction: row;
                gap: 4rem;

                .about-text-wrapper {
                    max-width: 40%;
                }

                .imageslist {
                    width: 40%;
                }
            }
        }


        .project-section {
            .boxes-wrapper {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 20px;
                width: 80%;
                padding: 20px;
                box-sizing: border-box;


                .project-box {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: flex-start;

                    .project-figure {
                        width: 100%;

                        img {
                            width: 100%;
                            height: auto;
                            object-fit: contain;

                        }
                    }
                }
            }
        }
    }
}